<h1>Java OOP Accessor and Mutator Methods Writer</h1>
<p><i>By Zachary Seguin</i></p>
<p>See https://bitbucket.org/zachomedia/java-oop-accessor-and-mutator-method-writer/ for:
	<ul>
		<li>More help</li>
		<li>Raise bugs</li>
		<li>For new versions.</li>
	</ul>
</p>
<h2>Introduction</h2>
<p>The program writes accessor and mutator methods for a given Java class.</p>
    
<h2>How to Use</h2>
<ol>
	<li>In your source code, add:
		<ul>
			<li>//accessors</li>
			<li>//mutators</li>
		</ul>
		where you want the respective methods to appear.
	</li>
	
	<li>Open OOP Accessors and Mutators Writer application and select the methods you want to add.</li>
	
	<li>Modify any settings.</li>
	
	<li>Click add methods and choose your file. The methods will then be written.</li>
</ol>